<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TIPO</th>
      <th scope="col">Notas</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of incomes">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.type }}</td>
      <td>{{ item.notes }}</td>
      <td>{{ item.amount }}</td>
      <td>
        <a [routerLink]="['/edit-expense',  item.id ]"
          >Editar</a
        >
        Eliminarr
      </td>
    </tr>
  </tbody>
</table>
